.el-table td,.el-table th{
    padding:5px 18px;
}

/* 去掉input type=number 上下箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}